<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hacktivpress</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./image/vinyl.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background: linear-gradient(to left, #3300ff 0%, #0cff00 100%);
    }
      .jumbotron-footer {
        no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
      }
      .jumbotron .container {
      position: relative;
      top:100px;
      }
    .jumbo-text {
      background-color: #0cff00;
      opacity:0.8;
      border-radius: 25px;
    }
    .jumbo-text-footer {
      background-color: #F8F8F8;
      opacity:0.8;
      border-radius: 50px;
    }
    .main-section{
    	background-color: #F8F8F8;
    	margin-top:50px;
    }
    .dropdown{
    	float:right;
    	padding-right: 30px;
    }
    .btn{
    	border:0px;
    	margin:10px 0px;
    	box-shadow:none !important;
    }
    .dropdown .dropdown-menu{
    	padding:20px;
    	top:30px !important;
    	width:350px !important;
    	left:-250px !important;
    	box-shadow:0px 5px 30px black;
    }
    .total-header-section{
    	border-bottom:1px solid #d2d2d2;
    }
    .total-section p{
    	margin-bottom:20px;
    }
    .cart-detail{
    	padding:15px 0px;
    }
    .cart-detail-img img{
    	width:100%;
    	height:100%;
    	padding-left:15px;
    }
    .cart-detail-product p{
    	margin:0px;
    	color:#000;
    	font-weight:500;
    }
    .cart-detail .price{
    	font-size:12px;
    	margin-right:10px;
    	font-weight:500;
    }
    .cart-detail .count{
    	color:#C2C2DC;
    }
    .checkout{
    	border-top:1px solid #d2d2d2;
    	padding-top: 15px;
    }
    .checkout .btn-primary{
    	border-radius:50px;
    	height:50px;
      background: linear-gradient(to right, #0cff00 0%, #3300ff 100%);
    }
    .dropdown-menu:before{
      content: " ";
      position:absolute;
      top:-20px;
      right:50px;
      border:10px solid transparent;
      border-bottom-color:#fff;
    }
  </style>
</head>
<body>
<div id="app">
  <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          // console.log('connecteueu',response.authResponse.accessToken);
          axios.post('http://localhost:3000/users/fblogin',{
            token: response.authResponse.accessToken
          })
          .then(res=>{
            console.log('res---->',res.data);
            localStorage.setItem('authorization', res.data.token);
            localStorage.setItem('id', res.data.userId);
            localStorage.setItem('first_name', res.data.first_name);
            localStorage.setItem('last_name', res.data.last_name);
            window.location.assign('http://localhost:8000')
          })
          .catch(err=>{
            console.log(err);
          })
          // testAPI();
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1767743639969411',
          cookie     : true,  // enable cookies to allow the server to access
          // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use graph api version 2.8
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          // console.log(response);
          // console.log('Successful login for: ' + response.name);
          // document.getElementById('status').innerHTML =
          // 'Thanks for logging in, ' + response.name + '!';
        });
      }
    </script>
  <div class="container">
    <div class="jumbotron">
      <div class="container text-center">
        <div class="jumbo-text">
          <h1>Hacktivpress</h1>
          <p>Blog of your own!</p>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" v-on:click="getData()" href="#">Hacktivpress</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" v-on:click="getData()" href="#">Home</a>
          </li>
          <li class="nav-item" v-if="token !== null">
            <a class="nav-link" v-on:click="logout()" href="#">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="artistDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" v-for="category in categories" v-on:click="filterCategory(category)" href="#">{{ category }}</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <section id="posts">
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Posts</h1>
          <hr class="star-dark mb-5">

          <!-- Blog Post -->
          <div class="card mb-4" v-for="article in articles">
            <img class="card-img-top" v-bind:src="article.cover" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ article.title }}</h2>
              <p class="card-text">{{ article.content }}</p>
              <a href="#" class="btn btn-primary" v-on:click="getOneArticle(article._id)">Read More &rarr;</a>
              <button type="button" class="btn btn-danger" v-if="token !== null"v-on:click="deleteArticle(article._id)">Delete post</button>
            </div>
            <!-- <div class="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">Start Bootstrap</a>
            </div> -->
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li v-for="category in categories">
                      <a v-on:click="filterCategory(category)" href="#">{{category}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="add-item" v-if="token != null">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Article Post</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="addItemForm" id="addItemForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Title</label>
                <input class="form-control" id="title-input" type="title" placeholder="Article title" required="required" data-validation-required-message="Input article title" v-model="title">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Content</label>
                <input class="form-control" id="price-input" type="price" placeholder="Article content" required="required" data-validation-required-message="Input article content" v-model="content">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Category</label>
                <input class="form-control" id="Category-input" type="Category" placeholder="Article category" required="required" data-validation-required-message="Input article category" v-model="category">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Cover</label>
                <br>
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload($event.target.files[0])"/>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="addItemButton" v-on:click="addItem">Add Item</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="login" v-if="token === null">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Login</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="loginForm" id="login-form" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email-login" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address." v-model="emailLogin">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Password</label>
                <input class="form-control" id="password-login" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password." v-model="passwordLogin">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div style="margin:0 auto;" class="fb-login-button" data-width="100" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
            <br>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="loginButton" v-on:click="login">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="register" v-if="token === null">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Register</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="registerForm" id="register-form" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>First Name</label>
                <input class="form-control" id="fname" type="text" placeholder="First Name" required="required" data-validation-required-message="Please enter your first name." v-model="first_name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Last Name</label>
                <input class="form-control" id="lname" type="tel" placeholder="Last Name" required="required" data-validation-required-message="Please enter your last name." v-model="last_name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address." v-model="email">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password." v-model="password">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="registerButton" v-on:click="signUp">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <footer>
      <div class="jumbotron-footer">
        <div class="container text-center">
          <div class="jumbo-text-footer">
            <p>Hacktivpress © 2018</p>
            <p>(copyright pending)</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      articles: null,
      cart: [],
      categories: null,

      userId: localStorage.getItem('id'),
      first_name: localStorage.getItem('first_name'),
      last_name: localStorage.getItem('last_name'),
      email: null,
      password: null,
      token: localStorage.getItem('authorization'),
      emailLogin: null,
      passwordLogin: null,
      isAdmin: localStorage.getItem('isAdmin'),

      image: null,
      title: null,
      content: null,
      category:null
    },
    methods: {
      handleFileUpload: function(img){
        this.image = img
        console.log('ini image',this.image);
      },
      addItem: function(){
        event.preventDefault()
        let formData = new FormData()
        formData.append('image', this.image)
        console.log(formData);

        axios({
          method: 'post',
          url: 'http://localhost:3000/upload',
          data: formData,
        })
        .then(result=>{
          console.log(result.data.link);
          axios.post('http://localhost:3000/articles',{
            title: this.title,
            cover: result.data.link,
            content: this.content,
            category: this.category,
            author: this.userId
          })
          .then(album=>{
            swal("Yeay", "New item has been submited!", "success")
            .then(ok=>{
              window.location.assign('http://localhost:8000')
            })
          })
          .catch(err=>{
            swal("Failed!", "Item failed to input", "error");
          })
        })
        .catch(function(){
          swal("Failed!", "Your file has not been uploaded", "error");
        });
      },
      getOneArticle: function(id){
        axios.get(`http://localhost:3000/articles/${id}`)
        .then(articles=>{
          this.articles = [articles.data]
        })
      },
      deleteArticle: function(id){
        axios.delete(`http://localhost:3000/articles/${id}`)
        .then(articles=>{
          window.location.assign('http://localhost:8000')
        })
      },
      getData: function(){
        console.log('hoho');
        axios.get('http://localhost:3000/articles')
        .then(articles=>{
          console.log(articles.data);
          this.articles = articles.data
          let categoryArr = []
          for (let i = 0; i < articles.data.length; i++) {
            let listed = false
            for (let j = 0; j < categoryArr.length; j++) {
              if (categoryArr[j] === articles.data[i].category) {
                listed = true
              }
            }
            if (listed === false) {
              categoryArr.push(this.articles[i].category)
            }
          }
          this.categories = categoryArr
        })
      },
      login: function(){
        event.preventDefault()

        axios.post('http://localhost:3000/users/login', {
          email: this.emailLogin,
          password: this.passwordLogin
        })
        .then(res=>{
          if (res.data === 'wrong password') {
            swal("Wrong password!");
          }else if (res.data === 'email is not found') {
            swal("Email not found!")
          }else {
            console.log('resasdfadsf',res);
            this.token = res.data.token
            this.userId = res.data.userId
            this.first_name = res.data.first_name
            this.last_name = res.data.last_name
            // console.log(this.userId);
            // console.log(this.token);
            localStorage.setItem('authorization', res.data.token);
            localStorage.setItem('id', res.data.userId);
            localStorage.setItem('first_name', res.data.first_name);
            localStorage.setItem('last_name', res.data.last_name);
            localStorage.setItem('isAdmin', res.data.isAdmin);
            swal("Yeay", "You are logged in!", "success")
            .then(ok=>{
              window.location.assign('http://localhost:8000')
            })
          }
        })
      },
      logout: function(){
        // event.preventDefault()
        this.token = null
        this.userId = null
        this.first_name = null
        this.last_name = null
        this.isAdmin = null
        localStorage.clear();
        swal("You have logged out", "See you later!")
        .then(ok=>{
          window.location.assign('http://localhost:8000')
        })
      },
      signUp: function(){
        event.preventDefault()

        axios.post('http://localhost:3000/users/signup', {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password: this.password
        })
        .then(res=>{
          // console.log(res.data);
          this.token = res.data
          // console.log(this.token);
          localStorage.setItem('authorization', res.data.token);
          localStorage.setItem('id', res.data.userId);
          localStorage.setItem('first_name', res.data.first_name);
          localStorage.setItem('last_name', res.data.last_name);
          localStorage.setItem('isAdmin', res.data.isAdmin);
          swal("Yeay", "Thank you for signing up!", "success")
          .then(ok=>{
            window.location.assign('http://localhost:8000')
          })
        })
      },
      // getArtist: function(){
      //   axios.post('http://localhost:3000/albums',{
      //     artist: artist
      //   })
      //   .then(albums=>{
      //     console.log(albums.data);
      //     this.albums = albums.data
      //   })
      // },
      filterCategory: function(category){
        axios.post('http://localhost:3000/articles/category',{
          category: category
        })
        .then(articles=>{
          this.articles = articles.data
        })
      }
    },
    created(){
      this.getData()
    },
    // computed: {
    //   cartDisplay: function(){
    //     let display = []
    //     for (let i = 0; i < this.cart.length; i++) {
    //       let listed = false
    //       for (let j = 0; j < display.length; j++) {
    //         if (display[j] === this.cart[i]) {
    //           listed = true
    //           display[j].quantity += 1
    //         }
    //       }
    //       if (listed === false) {
    //         display.push(this.cart[i])
    //       }
    //     }
    //     return display
    //   },
    // },
  })
</script>
</body>
</html>
